* {
    margin: 0;
    overflow-x: hidden;
}

:root {
    --footer-color: rgb(70, 68, 68);
    --background-color: rgb(228, 228, 228);
    --aside-color: rgb(211, 211, 211);
    --nav-color: linear-gradient(rgb(0, 255, 200),rgb(149, 209, 196));
    --text-color: #000;
    --button-rotation: -1;
    --news-color: rgb(209, 228, 224);
    --background-gradient: linear-gradient(rgb(255, 255, 255), rgb(226, 219, 219));
    --border-color: rgb(226, 255, 245);
    --input-color: rgb(246, 247, 246);
}

:root[data-theme="dark"] {
    --footer-color: rgb(31, 31, 31);
    --background-color: rgb(77, 77, 77);
    --aside-color: rgb(58, 58, 58);
    --nav-color: linear-gradient(rgb(151, 199, 189),rgb(63, 117, 105));
    --text-color: #fff;
    --button-rotation: 1;
    --news-color: rgb(111, 126, 123);
    --background-gradient: linear-gradient(rgb(85, 85, 85), rgb(97, 91, 91));
    --border-color: rgb(115, 194, 168);
    --input-color: rgb(192, 231, 218);
} 

input {
    font-family: cursive;
    font-size: 1rem; 

    margin: 4% 0%;
    border-radius: 5%;
    border-style: solid;
    background-color: var(--input-color);
    
    width: 100%; 
    box-sizing: border-box;

    min-height: 3em; 
}

body{
    height: 100%;
    color: var(--text-color);
    background-image: var(--background-gradient);
    background-color: var(--background-color);
}

header {
    gap: 5%;
    padding-left: 5% ;
    padding-right: 5% ;
}

nav {
    display: flex;
    flex-direction: row;
    /* background-color: var(--nav-color); */
    background-image: var(--nav-color);
    padding-left: 5% ;
    padding-right: 5% ;
    gap: 5%;
}

@media only screen and (max-width: 650px) {
    nav{
        flex-direction: column;
        align-items: center;
        padding-bottom: 5%;
    }
}

nav button {
    height: 50%;
    margin-top: auto;
    margin-bottom: auto;
}

nav button:active {
  text-shadow: none;
  color: var(--c);
  box-shadow: inset 0 0 9e9q #0005;
  transition: 0s;
}

nav button {
  --c: #fff;
  background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p,100%)/300% no-repeat,
    #004dff;
  color: #0000;
  border: none;
  transform: perspective(500px) rotateY(calc(20deg * var(--button-rotation)));
  text-shadow: calc(var(--button-rotation) * 0.08em) -.01em 0 var(--c),
    calc(var(--button-rotation) * -0.08em) .01em 2px #0004;
  outline-offset: .1em;
  transition: 0.3s;
}

nav button:hover,
nav button:focus-visible {
  --_p: 0%;
}

nav h2 {
    text-decoration: underline;
}

.interactable:hover{
    color: red;
    transition: color 200ms;
}

a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;

    margin-top: auto;
    margin-bottom: auto;
}

.content {
    padding-top: 5%;
    display: flex;

    font-family: cursive;
    padding-bottom: 3%;
}

main {
    padding-bottom: 5%;
}

.newscontent {
    padding-top: 5%;
    display: flex;
    flex-direction: column;

    align-items: center;

    font-family: cursive;
    padding-bottom: 3%;
}

.flashnews{
    margin-bottom: 2%;
    text-align: left;

    border-style: solid;
    border-radius: 3%;
    background-color: var(--news-color);

    margin-left: 5%;
    margin-right: 5%;
    padding: 1% 2% 1%;

    font-size: 0.5rem;

    width: 80vw;
}

.flashnews img {
   float: right;
   margin-bottom: 2%;
   margin-left: 2%;
   width: 4rem;
}

.body-title {
    width: 100%;
    text-align: center;
    margin-top: 3%;
    font-family: cursive;
    font-size: 3rem;   
}

@media (min-width: 700px) {
    .flashnews {
        width: 60vw;
        font-size: 1rem;
    }

    .flashnews img {
        width: 10rem;
    }

    .body-title {
        font-size: 5rem;;
    }
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: top;
    margin-right: 2%;
    align-items: center;
    text-align: right;
    width: 40%;
    padding-top: 1%;
    background-color: var(--aside-color);
}

.article-body {
    padding-left: 5%;
    padding-right: 5%;
    width: 60%;
    margin: 0 auto;

    column-count: 1; 
    column-gap: 2rem; 
}

@media (min-width: 800px) {
    .article-body {
        column-count: 2;
    }
}

@media (min-width: 1400px) {
    .article-body {
        column-count: 3;
    }
}

.article-body p {
    display: block;
    margin-bottom: 5%;
}

.newsbox {
    border-style: solid;
    border-radius: 3%;
    margin-bottom: 5%;
    padding: 2% 5%;
    text-align: left;
    width: 80%;

    border-color: var(--border-color);
    background-color: var(--news-color);
}

ul{
    list-style-position: inside;
    padding-left: 0;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  background: var(--footer-color);
}